@use '@/shared/lib/styles/mixin.scss' as *;

.home_footer {
  padding: 80px 0;
  //background-image: url(/images/home/second_back.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
  background-color: #d8d8d8;
  @include tablet {
  }
  &__copy {
    margin-top: 40px;
    color: var(--Black, var(--color-black-solid, #000));

    /* Switzer/Medium */
    font-family: var(--font-family-Font-1, Switzer);
    font-size: 13.5px;
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-21, 21px); /* 155.556% */
  }
  &__row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      gap: 40px;
    }
    h2 {
      color: var(--color-black-solid, #000);
      font-family: var(--font-family-Font-1, Switzer);
      font-size: 80px;
      font-style: normal;
      font-weight: 200;
      line-height: 100%; /* 80px */
      letter-spacing: var(--letter-spacing--3_75, -3.75px);
      @include tablet {
        font-size: 60px;
        width: 100%;
        letter-spacing: -2;
        br {
          display: none;
        }
      }
      @include mobile {
        font-size: 40px;
      }
    }
    > div {
      display: flex;
      width: 342px;
      padding: 40px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      border-radius: 24px;
      background: var(--color-yellow-58, #ffe028);
      @include tablet {
        width: 100%;
      }
      span {
        color: var(--Black, var(--color-black-solid, #000));

        /* Switzer/Medium */
        font-family: var(--font-family-Font-1, Switzer);
        font-size: 15px;
        font-style: normal;
        font-weight: var(--font-weight-500, 500);
        line-height: var(--line-height-24, 24px); /* 160% */
      }
      p {
        color: var(--Black, var(--color-black-solid, #000));
        font-family: var(--font-family-Font-1, Switzer);
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: var(--line-height-24, 24px); /* 120% */
      }
    }
  }
}
